/target/classes/org/gucardev/featurev2/FutureOption.class
/target/classes/org/gucardev/featurev2/FutureUtil.class
/target/classes/org/gucardev/completablefuture/Main.class
/target/classes/org/gucardev/featurev2/Main.class
/target/classes/org/gucardev/funtionalInterfaces/Main.class
/target/classes/org/gucardev/Main.class
