<configuration>
    <appender name="LIST" class="ch.qos.logback.core.read.ListAppender">
        <encoder>
            <pattern>%-5level [%thread] %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="LIST"/>
    </root>
</configuration>
